<html>

<div class='body'>

    <p id="notice"></p>


      <%= render 'books/list', book: @book, user: @user %>
<div class="container"> <!-- ここを追加 -->
<div class="row">   <!-- ここを追加 -->
<div class="col-lg-8">
        <h2>Books</h2>
       <table class='table table-hover table-inverse'>
          <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <% @user.books.each  do |book| %>
          <tbody>
               <% user = book.user %>
    <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
          </tbody>
            <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>




</body>
</html>




