<html>

<div class='body'>
  <div class='container'>

    <p id="notice"></p>


    <div class='row'>
      <%= render 'books/list', books: @books %>

      <div class='col-xs-9'>
        <h2>Books</h2>

        <table class='table table-hover table-inverse'>
          <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <% @books.each  do |book| %>
          <tbody>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
          </tbody>
            <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>


</body>
</html>




